pandas 
numpy
matplotlib
tqdm
nibabel
nilearn
scipy
scikit-learn
statsmodels
scikit-survival
seaborn

# To run the Jupyter notebooks, you must install the ipykernel package. 
# With VSCode, this step should be done automatically.